@import url(css/bootstrap.css);
html,
body {
  font: 400 16px 'Open Sans', sans-serif;
  color: #8FA4BC;
  margin: 0;
  padding-top: 40px;
  height: 100%;
  background: #fff;
}

a {
  color: #8FA4BC;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #536F90;
  text-decoration: none;
}

pre {
  background: #ECF1F8;
  border-color: #ECF1F8;
  color: #8FA4BC;
  padding: 10px;
}

code {
  background: #ECF1F8;
  color: #8FA4BC;
}

.img-thumbnail {
  border-color: #ECF1F8;
  padding: 10px;
}

@media (max-width: 1200px) {
  #nazad {
    margin-left: 15px;
  }
}

@media (min-width: 1200px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }

  div.btn-group:hover ul.dropdown-menu {
    display: block;
  }
}

@media (min-width: 1200px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-nav > li > a.navbar-gravatar {
  padding-top: 8px;
  padding-bottom: 8px;
}

.fa.form-control-feedback {
  line-height: 34px;
}

.has-feedback-left input.form-control {
  padding-left: 34px;
  padding-right: 10px;
}

.has-feedback-left .form-control-feedback {
  left: 0;
}

.avatar {
  border-radius: 50%;
}

.avatar-32 {
  border-radius: 4px;
}

.avatar-96 {
  border-radius: 4px;
  margin-bottom: 20px;
}

.btn-sm {
  font-size: 14px;
}

.btn {
  font-size: 14px;
}

.btn-lg {
  font-size: 16px;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background: #ECF1F8;
  border-radius: 0px;
  color: #8FA4BC;
  cursor: pointer;
  border: 1px solid #ECF1F8;
  border-radius: 4px;
}

.btn-default:hover {
  color: #8FA4BC;
  background: #fff;
  border-color: #ECF1F8;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #536F90;
  border-radius: 0px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #536F90;
  border-radius: 4px;
}

.btn-primary:hover {
  color: #fff;
  background: #4A6380;
  border-color: #4A6380;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background: #80C15A;
  border-radius: 0px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #80C15A;
  border-radius: 4px;
}

.btn-success:hover {
  color: #fff;
  background: #73AD50;
  border-color: #73AD50;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background: #fff;
  border-radius: 0px;
  color: #8FA4BC;
  cursor: pointer;
  border: 1px solid #ECF1F8;
  border-radius: 4px;
}

.btn-danger:hover {
  color: #8FA4BC;
  background: #ECF1F8;
  border-color: #ECF1F8;
}

.header {
  background: #536F90;
  margin-top: -10px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.header h1 {
  font-weight: 500;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.korisnik {
  background: #6DB686;
  margin-top: -10px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.korisnik img {
  border:4px solid #fff;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(68,68,68,1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(68,68,68,1);
  box-shadow: 0px 0px 6px 0px rgba(68,68,68,1);
}

.korisnik h1 {
  font-weight: 500;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.naslov a {
  font-weight:600;
  color: #444;
  font-size: 16px;
}
.naslov a:visited {
  font-weight:300;
}

.naslov a:hover {
  text-decoration: underline;
}

span.status {
  position:absolute;
  top:0px;
  left:48px;
  color:#fff;
}

span.broj {
  font-weight: 600;
  font-size: 18px;
  color: #444;
}

p.odgovora {
  color: #8FA4BC;
  padding-top: 5px;
  font-size: 11px;
  text-transform: uppercase;
}

.ime .bbp-author-name {
  margin-right: 10px;
}

.ime a {
  font-weight: 600;
  color: #444;
  font-size: 16px;}

.poruka {
  display:block;
  margin-left:82px;
  margin-top:12px;
  width:auto;
  height:auto;
  font-size: 16px;
  color: #444;
  font-weight: 400;
  word-break: break-all;
}

.autor {
  padding-top:5px;
  font-size: 13px;
  color: #8FA4BC;
}

.copyright {
  border-top: 1px solid #ECF1F8;
  font-size: 13px;
  color: #bbb;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both;
}

.copyright a {
  color: #bbb;
}

.copyright a:hover {
  color: #536F90;
}

.statistika {
  background: #ECF1F8;
  color: #8FA4BC;
  border: 1px solid #ECF1F8;
  padding: 1px 6px;
}

.bbp-topic-reply-link,
.bbp-topic-reply-link:hover {
  color: #fff;
}

.bbp-reply-to-link,
.bbp-reply-to-link:hover {
  color: #8FA4BC;
}

#bbpress-forums .super-sticky {
}

#bbpress-forums .sticky {
}

#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
}

#new-post {
  display: none;
}

.boja:first-child {
  padding: 20px;
  border: 5px solid #ECF1F8;
  border-radius: 4px;
}

#infinite-footer {
  display: none;
}

a.favorite-toggle {
  font-size: 0px;
  color:#8FA4BC;
}

#favorite-toggle .is-favorite a:before {
  font: normal normal 14px FontAwesome;
  content: "\f005";
  text-decoration: inherit;
}

#favorite-toggle .is-favorite a:hover:before {
  font: normal normal 14px FontAwesome;
  content: "\f006";
  text-decoration: inherit;
}

#favorite-toggle a:before {
  font: normal normal 14px FontAwesome;
  content: "\f006";
  text-decoration: inherit;
}

#favorite-toggle a:hover:before {
  font: normal normal 14px FontAwesome;
  content: "\f005";
  text-decoration: inherit;
}

#bbp_topic_title::-webkit-input-placeholder,
#bbp_forum_id,
#bbp_stick_topic_select,
#bbp_topic_status_select {
  color: #8FA4BC;
}

.new-topic-notifier {
  margin-left:10px;
  display: inline;
  font-size: 14px;
  font-weight: 600;
  color: #4E89DA;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  text-transform: lowercase;
}

.modal-backdrop {
  background: #536F90;
}

.siva {
  font-size:11px;
  font-weight:600;
  background: #96A2AF;
  border-radius:4px;
  padding:1px 4px;
  color:#fff;
  text-transform: uppercase;
  margin-right:10px;
}

.siva:hover,
.siva:focus {
  color:#fff;
}

.zelena {
  font-size:11px;
  font-weight:600;
  background: #80C15A;
  border-radius:4px;
  padding:1px 4px;
  color:#fff;
  text-transform: uppercase;
  margin-right:10px;
}

.zelena:hover,
.zelena:focus {
  color:#fff;
}

.crvena {
  font-size:11px;
  font-weight:600;
  background: #F56857;
  border-radius:4px;
  padding:1px 4px;
  color:#fff;
  text-transform: uppercase;
  margin-right:10px;
}

.crvena:hover,
.crvena:focus {
  color:#fff;
}

.narandzasta {
  font-size:11px;
  font-weight:600;
  background: #F59B66;
  border-radius:4px;
  padding:1px 4px;
  color:#fff;
  text-transform: uppercase;
  margin-right:10px;
}

.narandzasta:hover,
.narandzasta:focus {
  color:#fff;
}

.plava {
  font-size:11px;
  font-weight:600;
  background: #4E89DA;
  border-radius:4px;
  padding:1px 4px;
  color:#fff;
  text-transform: uppercase;
  margin-right:10px;
}

.plava:hover {
  color:#fff;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}